*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --main-bg-color: #1c335f;
}

header nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 120px;
}

header nav .logo img{
    max-width: 250px;
    height: 120px;
    padding-left: 20px;
}

header nav span{
    padding-left: 100px;
    font-size: 20px;
    font-weight: 100;
    color: #677294;
}

.carousel-item{
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    visibility:  visible !important;
}





.item1{
    background-image: url(../image/firstImage.jpeg);
}
.item2{
    background-image: url(../image/secondImage.jpeg);
}
.item3{
    background-image: url(../image/thirdImage.jpeg);
}

.carousel-item .carousel-caption{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 100px;
}
.carousel-item .carousel-caption h2{
    text-transform: capitalize;
    font-weight: 600;
    max-width: 600px;
    min-width: 200px;
    font-size: 50px;
    line-height: 48px;
    text-align: left;
}
.carousel-item .carousel-caption p{
    text-align: left;
    font-size: 16px;
    line-height: 48px;
}

.container{
    padding: 10px 50px;
    margin: 60px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease;
    /* grid-auto-rows: minmax(200px, auto);
    grid-row-gap: 20px; */
}

.container.show{
    opacity: 1 ;
}

.container div{
    width: 200px;
    min-height: 150px;
    margin: 5px 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top:0;
    transition: all 0.5s;
}

.container div:hover{
    top: -15px;
}

.container div a{
    text-decoration: none;
    color: white;
}
.container div a:hover{
    color: rgb(0, 145, 255);
}


.login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .login .loginForm{
        width: 100%;
        padding: 10px;
    }
    .login .image img{
        max-width: 400px;
    }
}


@media only screen and (min-width: 600px) {
    .login .image img{
        max-width: 500px;
    }
    .login .loginForm{
        width: 100%;
        padding: 10px;
    }
}



@media only screen and (min-width: 992px) {
    .login .image img{
        max-width: 600px;
    }
    .login .loginForm{
        width: 600px;
    }
}

.login .loginForm h2{
    margin-top: 70px;
    font-size: 42px;
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.8);
}

.login .loginForm form label{
    margin: 20px 0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.login .loginForm form input{
    padding: 3px 5px 3px 10px;
    width: 100%;
}

.login .loginForm form #rememberMe{
    padding: 3px 5px 3px 10px;
    width: fit-content;
}

.login .loginForm form select{
    width: 100%;
    padding: 5px 5px 5px 10px;
}



.login .loginForm form button{
    display: block;
    margin: 30px auto;
    padding: 10px 80px;
    color: white;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    border: #1c335f;
}

.services{
    width: 100%;
    height: fit-content;
}

.services h2{
    margin: 250px auto 10px auto;
    text-align: center;
}

.services .mainServices{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
    padding: 10px 0;
}

.services .mainServices .sv{
    margin-left: 15px;
    color: black;
}

.services .mainServices .sv:hover{
    color: var(--main-bg-color);
    text-decoration: underline;
}

.services .insideServise{
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}

.services .insideServise .sv{
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services .insideServise .sv div{
    min-width: 300px;
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
}

.services .insideServise .sv div a{
    text-decoration: none;
    color: white;
}
.services .insideServise .sv div a:hover{
    color: rgb(0, 145, 255);
}

.counters{
    min-height: 500px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    font-size: 18px;
    /* display: grid;
    grid-gap : auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.counters h3{
    font-size: 18px;
}

.counters .counter{
    font-size: 24px;
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
    border: 8px blueviolet solid;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* up to top */

.up{
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    right: -50px;
    background-color: rgb(7, 7, 46);
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

footer{
    width: 100%;
    min-height: 500px;
    padding: 30px;
    margin-top: 50px;
    display: grid;
}

@media only screen and (max-width: 600px) {
    footer{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    footer{
        grid-template-columns: repeat(4, 1fr);
    }
}

footer .logoFooter img{
    max-width: 200px;
    height: fit-content;
}

footer div ul{
    list-style-type: none;
    padding: 0;
}

footer div li{
    margin-bottom: 10px;
    font-size: 18px;
}

footer div li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
}

.fa-brands{
    font-size: 32px;
    margin-right: 10px;
}

footer div li a:hover{
    text-decoration: underline;
}

.up.show{
    right: 10px;
}