*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --main-bg-color: #1c335f;
}

header nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 120px;
}

header nav .logo img{
    max-width: 250px;
    height: 120px;
    padding-left: 20px;
}

header nav span{
    padding-left: 100px;
    font-size: 20px;
    font-weight: 100;
    color: #677294;
}

.carousel-item{
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.item1{
    background-image: url(/image/firstImage.jpeg);
}
.item2{
    background-image: url(/image/secondImage.jpeg);
}
.item3{
    background-image: url(/image/thirdImage.jpeg);
}

.carousel-item .carousel-caption{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 100px;
}
.carousel-item .carousel-caption h2{
    text-transform: capitalize;
    font-weight: 600;
    max-width: 600px;
    min-width: 200px;
    font-size: 50px;
    line-height: 48px;
    text-align: left;
}
.carousel-item .carousel-caption p{
    text-align: left;
    font-size: 16px;
    line-height: 48px;
}

.container{
    padding: 10px 50px;
    margin: 60px 0px;
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-row-gap: 20px;
}

.container .row{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-column-gap: 30px;
}

.container .row div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top:0;
    transition: all 0.5s;
}

.container .row div:hover{
    top: -15px;
}

/* @keyframes ahmed {
    from{
        top:0
    }
    to{
        top:-15px
    }
} */

.container .row div a{
    text-decoration: none;
    color: white;
}
.container .row div a:hover{
    color: rgb(0, 145, 255);
}

/* Login */

.login{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.login .image{
    grid-column-start: 1;
    grid-column-end: 2;
}

.login .image img{
    max-width: 600px;
}

.login .loginForm{
    grid-column-start: 2;
    grid-column-end: 6;
}

.login .loginForm h2{
    margin-top: 70px;
    font-size: 42px;
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.8);
}

.login .loginForm form label{
    margin: 20px 0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.login .loginForm form input{
    padding: 3px 5px 3px 10px;
    width: 100%;
}

.login .loginForm form select{
    width: 100%;
    padding: 5px 5px 5px 10px;
}

.login .loginForm form button{
    display: block;
    margin: 30px auto;
    padding: 10px 80px;
    color: white;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    border: #1c335f;
}


